<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>API Wars</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Planet List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" id="voting-statistics"
                       data-bs-toggle="modal" data-bs-target="#votes-modal-title">Voting Statistics
                    </a>
                </li>
                {% if not session['username'] %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/registration">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/login">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                </li>
                {% if session['username'] == 'admin' %}
                <li class="nav-item">
                    <p class="nav-link active" style="color: red">Welcome back Lord Vader!</p>
                </li>
                {% endif %}
                {% endif %}
            </ul>
            {% if session['username'] %}
            <h6 style="color: white; background-color: midnightblue" data-user-id="{{ session['username'] }}">Signed in
                as <span style="color: darkorange;">{{ session['username'] }}</span>
            </h6>
            {% endif %}
        </div>
    </div>
</nav>
{% if message %}
<div class="d-flex justify-content-center alert alert-warning" role="alert">{{ message }}</div>
{% endif %}
<div id="planet-main" class="container" style="min-width: 1400px;">
    {% if session['username'] %}
    <h1>Star Wars universe planets</h1>
    <button type="button" class="btn btn-primary" id="previous-button" onclick="previousPage()">Previous</button>
    <button type="button" class="btn btn-primary" id="next-button" onclick="nextPage()">Next</button>
    <div id="loading-planets" hidden="hidden" style="text-align: center">
        <img src="/static/images/loading.gif" alt="Loading..."/>
    </div>
    <table id="planets-table" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Diameter</th>
            <th>Climate</th>
            <th>Terrain</th>
            <th>Surface Water Percentage</th>
            <th>Population</th>
            <th>Residents</th>
            <th>Vote</th>
        </tr>
        </thead>
        <tbody id="planet-body">
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div id="loading-modal" hidden="hidden" style="text-align: center">
        <img src="/static/images/loading.gif" alt="Loading..."/>
    </div>
    <div id="people-modal" class="modal-dialog" role="document">
        <div class="modal-content" style="min-width: 1000px; right:50%">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="row">Name</th>
                        <th>Height</th>
                        <th>Mass</th>
                        <th>Hair Color</th>
                        <th>Skin Color</th>
                        <th>Eye Color</th>
                        <th>Birth Year</th>
                        <th>Gender</th>
                    </tr>
                    </thead>
                    <tbody id="people-body">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade show" id="votes-modal-main" tabindex="-1" role="dialog" aria-labelledby="votes-label"
     aria-hidden="true" style="padding-right: 0.200073px;">
    <div class="modal-dialog">
        <div class="modal-content" style="min-width: 300px">
            <div class="modal-header">
                <h5 class="modal-title"
                    style="display: inline; text-align: center; margin-right: auto; margin-left: auto" id="votes-label">
                    Total Votes on Planets</h5>
                <button type="button" class="close-votes" data-bs-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="voting-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Planet name</th>
                        <th>Total votes</th>
                    </tr>
                    </thead>
                    <tbody class="votes-list"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="close-votes btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% else %}
<p class="d-flex justify-content-center alert alert-primary">Please log in to see all the data!</p>
{% endif %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    document.getElementById('previous-button').classList.add('disabled')

    // set planets database urls
    let planets1 = 'https://swapi.py4e.com/api/planets?page=1'
    let planets2 = 'https://swapi.py4e.com/api/planets?page=2'
    let planets3 = 'https://swapi.py4e.com/api/planets?page=3'
    let planets4 = 'https://swapi.py4e.com/api/planets?page=4'
    let planets5 = 'https://swapi.py4e.com/api/planets?page=5'
    let planets6 = 'https://swapi.py4e.com/api/planets?page=6'
    let planets7 = 'https://swapi.py4e.com/api/planets?page=7'
    let pageNumber = 0
    let planetsList = [planets1, planets2, planets3, planets4, planets5, planets6, planets7]

    // fetch data from url
    async function fetchPlanetRepository() {
        const response = await fetch(planetsList[pageNumber])
        return await response.json();
    }

    initFetch()


    // loading image sequence after previous/next button press
    function loadingImage() {
        document.getElementById('planet-body').innerHTML = ''
        document.getElementById('previous-button').setAttribute('hidden', 'hidden')
        document.getElementById('next-button').setAttribute('hidden', 'hidden')
        document.getElementById('planets-table').setAttribute('hidden', 'hidden')
        document.getElementById('loading-planets').removeAttribute('hidden')
        initFetch()
    }

    // next planet button
    function nextPage() {
        if (pageNumber >= 0 && pageNumber <= 5) {
            pageNumber++
            loadingImage()
            if (pageNumber === 6) {
                document.getElementById('next-button').classList.add('disabled')
            }
            if (pageNumber === 1) {
                document.getElementById('previous-button').classList.remove('disabled')
            }
        }
    }

    // previous planet button
    function previousPage() {
        if (pageNumber >= 1 && pageNumber <= 6) {
            pageNumber--
            loadingImage()
            if (pageNumber === 5) {
                document.getElementById('next-button').classList.remove('disabled')
            }
            if (pageNumber === 0) {
                document.getElementById('previous-button').classList.add('disabled')
            }
        }
    }

    // data insert after fetching data from API
    async function initFetch() {
        fetchPlanetRepository().then((responseData) => {
                document.getElementById('loading-planets').setAttribute('hidden', 'hidden')
                let peopleResponseData = responseData.results
                let peopleTableHeader = document.getElementById('exampleModalLabel')
                for (let i = 0; i < peopleResponseData.length; i++) {
                    let planetsTableBody = document.getElementById('planet-body')
                    // create new row and add to tbody element, add bootstrap to tbody
                    let planetsNewTableRow = document.createElement('tr')
                    planetsTableBody.appendChild(planetsNewTableRow)
                    planetsNewTableRow.classList.add('table-light')
                    // create name column and add to row
                    let newPlanetName = document.createElement('td')
                    planetsNewTableRow.appendChild(newPlanetName)
                    newPlanetName.innerHTML = peopleResponseData[i].name
                    // create diameter column and add to row
                    let newPlanetDiameter = document.createElement('td')
                    if (peopleResponseData[i].diameter === 'unknown' || peopleResponseData[i].diameter === '0') {
                        newPlanetDiameter.innerHTML = 'unknown'
                    } else {
                        newPlanetDiameter.innerHTML = peopleResponseData[i].diameter + ' km'
                    }
                    // create climate column and add to row
                    let newPlanetClimate = document.createElement('td')
                    newPlanetClimate.innerHTML = peopleResponseData[i].climate
                    // create terrain column and add to row
                    let newPlanetTerrain = document.createElement('td')
                    newPlanetTerrain.innerHTML = peopleResponseData[i].terrain
                    // create surface_water column and add to row
                    let newPlanetSurfaceWater = document.createElement('td')
                    if (peopleResponseData[i].surface_water === 'unknown') {
                        newPlanetSurfaceWater.innerHTML = peopleResponseData[i].surface_water
                    } else {
                        newPlanetSurfaceWater.innerHTML = peopleResponseData[i].surface_water + '%'
                    }
                    // create population column and add to row
                    let newPlanetPopulation = document.createElement('td')
                    if (peopleResponseData[i].population === 'unknown') {
                        newPlanetPopulation.innerHTML = peopleResponseData[i].population
                    } else {
                        newPlanetPopulation.innerHTML = parseInt(peopleResponseData[i].population).toLocaleString() + ' people'
                    }
                    // create residents column including button to modal table and add to row
                    let newPlanetResidents = document.createElement('td')
                    let newPlanetResidentsButton = document.createElement('button')
                    newPlanetResidentsButton.setAttribute('type', 'button')
                    newPlanetResidentsButton.classList.add('btn')
                    newPlanetResidentsButton.classList.add('btn-outline-info')
                    newPlanetResidentsButton.setAttribute('data-toggle', 'modal')
                    newPlanetResidentsButton.setAttribute('data-target', '#exampleModal')
                    newPlanetResidentsButton.setAttribute('data-residents', JSON.stringify(peopleResponseData[i].residents))
                    newPlanetResidentsButton.setAttribute('data-planet', JSON.stringify(peopleResponseData[i].name))
                    // add click listener to residents button and call modal with features
                    newPlanetResidentsButton.addEventListener('click', async function (event) {
                        document.getElementById('people-modal').setAttribute('hidden', 'hidden')
                        document.getElementById('loading-modal').removeAttribute('hidden')
                        // add modal table header including current planet name
                        const residentPlanet = JSON.parse(event.target.getAttribute('data-planet'))
                        peopleTableHeader.innerHTML = 'Residents of ' + residentPlanet
                        // fill modal table with residents' data
                        const residentLinks = JSON.parse(event.target.getAttribute('data-residents'))
                        const tBody = document.querySelector('#people-body')
                        tBody.innerHTML = ''
                        const promises = []
                        for (let residentLink of residentLinks) {
                            //// without Promise.all
                            // const residentData = await (await fetch(residentLink)).json()
                            // tBody.insertAdjacentHTML('beforeend', `
                            // <tr><td>${residentData.name}</td></tr>
                            // `)
                            promises.push(fetch(residentLink))
                        }
                        const responses = await Promise.all(promises)
                        for (let response of responses) {
                            const residentData = await response.json()
                            // remove loading image and replace it with table
                            document.getElementById('loading-modal').setAttribute('hidden', 'hidden')
                            document.getElementById('people-modal').removeAttribute('hidden')
                            tBody.insertAdjacentHTML('beforeend', `
                            <tr><td>${residentData.name}</td>
                            <td>${residentData.height}</td>
                            <td>${residentData.mass}</td>
                            <td>${residentData.hair_color}</td>
                            <td>${residentData.skin_color}</td>
                            <td>${residentData.eye_color}</td>
                            <td>${residentData.birth_year}</td>
                            <td>${residentData.gender}</td>
                            </tr>
                            `)
                        }
                    })
                    if (peopleResponseData[i].residents.length === 1) {
                        newPlanetResidentsButton.innerHTML = peopleResponseData[i].residents.length + ' resident'
                        newPlanetResidents.appendChild(newPlanetResidentsButton)
                    }
                    if (peopleResponseData[i].residents.length > 1) {
                        newPlanetResidentsButton.innerHTML = peopleResponseData[i].residents.length + ' residents'
                        newPlanetResidents.appendChild(newPlanetResidentsButton)
                    }
                    if (peopleResponseData[i].residents.length === 0) {
                        newPlanetResidents.innerHTML = 'No known residents'
                    }
                    // add planet vote button in the last column
                    let newPlanetVote = document.createElement('td')
                    let newPlanetVoteButton = document.createElement('button')
                    newPlanetVoteButton.setAttribute('type', 'button')
                    newPlanetVoteButton.classList.add('btn')
                    newPlanetVoteButton.classList.add('btn-outline-info')
                    newPlanetVoteButton.classList.add('vote-button')
                    newPlanetVoteButton.setAttribute('data-planet-id', JSON.stringify(((pageNumber) * 10) + i + 1))
                    newPlanetVoteButton.setAttribute('data-planet-name', JSON.stringify(peopleResponseData[i].name))
                    newPlanetVoteButton.innerHTML = 'Vote'
                    // fill table with all newly created data
                    planetsNewTableRow.appendChild(newPlanetName)
                    planetsNewTableRow.appendChild(newPlanetDiameter)
                    planetsNewTableRow.appendChild(newPlanetClimate)
                    planetsNewTableRow.appendChild(newPlanetTerrain)
                    planetsNewTableRow.appendChild(newPlanetSurfaceWater)
                    planetsNewTableRow.appendChild(newPlanetPopulation)
                    planetsNewTableRow.appendChild(newPlanetResidents)
                    newPlanetVote.appendChild(newPlanetVoteButton)
                    planetsNewTableRow.appendChild(newPlanetVote)
                }
                // remove loading image and add all table data and buttons

                document.getElementById('previous-button').removeAttribute('hidden')
                document.getElementById('next-button').removeAttribute('hidden')
                document.getElementById('planets-table').removeAttribute('hidden')
                voteOnPlanets()
                    .then(votingStatistics)
            }
        )
    }

    async function voteOnPlanets() {
        let voteButtons = document.querySelectorAll('.vote-button')
        for (let voteButton of voteButtons) {
            let planetId = voteButton.dataset.planetId
            let planetName = voteButton.dataset.planetName.replaceAll('"', '')
            voteButton.addEventListener('click', function () {
                saveVoteOnPlanets(planetId, planetName)
                alert('Voted on planet ' + planetName + ' successfully')
            })
        }
    }


    async function saveVoteOnPlanets(planetId, planetName) {
        let data = {'planet_id': planetId, 'planet_name': planetName};
        fetch('/save-new-votes/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .catch((error) => {
                console.error('There was an error during voting on planet ' + planetName, error);
            });
    }


    async function getVotes() {
        const response = await fetch('/get-votes/')
        return await response.json();
    }


    function votingStatistics() {
        let votingStatisticsButton = document.querySelector('#voting-statistics')
        let votesModal = document.querySelector('#votes-modal-main')
        let votesContainer = document.querySelector('.votes-list')
        let closeVotesModal = document.querySelectorAll('.close-votes')
        votingStatisticsButton.addEventListener('click', async function () {
            const votingData = await getVotes()
            votesContainer.innerHTML = ''
            for (let vote of votingData) {
                let content = `<tr>
                                    <td>${vote.planet_name}</td>
                                    <td>${vote.count}</td>
                                </tr>`
                votesContainer.insertAdjacentHTML('beforeend', content)
            }
            votesModal.style = "display: block;"
            closeVotesModal.forEach(addEventListener('click', function () {
                votesModal.style = "display: none;"
            }))
        })
    }
</script>
</body>
</html>